# Forward-search paper (Ma et. al. 2023)
2301.12670v1.pdf

# Outputs & logs
outputs/
*.log

# Artifacts
**/__pycache__/
.ipynb_checkpoints/

# Virtual environment
venv/

# Temporary conda environment
environment_nocuda.yml

# Claude settings
.claude/
