# Forward-search paper
2301.12670v1.pdf

# Outputs & logs
outputs/
*.log

# Python environments
venv/
environment_nocuda.yml

# Artifacts
**/__pycache__/
.ipynb_checkpoints/

# Linter cache
.ruff_cache

# Claude configs
.claude/
